.App {
  text-align: center;
  font-family: "Jalnan";
}

@font-face{
  font-family:'Jalnan';
  src:url(/src/assets/fonts/Jalnan.ttf)
}

.progress-bar{
  background-color: rgb(255, 160, 122) !important;
}